body {
    font-family: "Lato", Sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

code {
    font-family: "Roboto Mono", monospace;
    color: $success;
    background-color:#F8F9FA;
    padding: 0px 5px;
    display: inline-block;
}

h1, h2, h3, h4, h5, h6, P {
    margin-bottom: 0;
}

ol {
    list-style: none;
}